@{
    ViewData["Title"] = "Home Page";
    var product = ViewBag.products as List<PRN211_Grocery_store.Data.Entity.Product>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach(var p in product){
        <p>@p.id</p>
        <p>@p.name</p>
        <p>@p.price</p>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
